<mat-toolbar color="primary">
  <!-- <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span [routerLink]="['/']">Recipe Manager</span>
  <span class="spacer"></span>

  <div style="display: flex; gap: 6px;">
    <button mat-flat-button color="primary" [routerLink]="['/dashboard']" routerLinkActive="mat-accent">
      Dashboard
    </button>

    <button mat-flat-button color="primary" [routerLink]="['/recipe']" routerLinkActive="mat-accent">
      Recipe
    </button>
    <button mat-flat-button color="primary" [routerLink]="['/category']" routerLinkActive="mat-accent">
      Category
    </button>
    <button mat-flat-button color="primary" [routerLink]="['/uom']" routerLinkActive="mat-accent">
      Unit Of Measurments
    </button>
  </div>
  <span class="spacer"></span>

  <button mat-icon-button aria-label="Log out" color="warn">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
