<header class="header" id="header">
  <nav class="nav container">
    <a class="logo">
      recipe <span>'s</span>
    </a>

    <div class="menu" id="nav-menu">
      <ul class="list">
        <li class="item">
          <a href="#home" class="link active-link">Home</a>
        </li>
        <li class="item">
          <a href="#about" class="link">About</a>
        </li>

        <li class="item">
          <a href="#services" class="link">Services</a>
        </li>

        <li class="item">
          <a href="#projects" class="link">Projects</a>
        </li>

        <li class="item">
          <a href="#contact" class="link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
